@media (max-width: 467px) {

.header {
    margin: 0 auto;
    height: 100px;
}

.logo-content {
    width: 75%;
    max-width: 100%;
    transition: none;
}

.logo-content:hover {
    transform: none;
}

.logo-content .logo {
    font-size: 1.5rem;
    
}

.navbar-content {
    width: 25%;
    max-width: 100%;
    justify-content: left;
}

.navbar-content .menu-icono {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar-content .menu-icono .icono {
    width: 25px;
}

.navbar-content .navbar ul {
    display: block;
}

.navbar-content .navbar {
    display: none;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
    background-color: #303030;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.menu-toggle:checked + .menu-icono + .navbar {
    display: flex;
}

#menu:checked ~ .navbar {
        display: initial;
    }

}
